@using StationeryStore.Models
@{
    List<SupplierEF> suppliers = (List<SupplierEF>)ViewData["suppliers"];
    StaffEF staff = (StaffEF)ViewData["staff"];
}


<div>@Html.Partial("_Store")</div>

<div class="mainview">
    <h3>Supplier List</h3>
    <br />
    @if (suppliers.Count() == 0)
    {
        <h5>There are no suppliers.</h5>
    }
    else
    {
        <div class="listview">
            <table class="listview">
                @if (staff.Role.Description == "Store Manager")
                {
                    <tr class="decision">
                        <td class="decision" colspan="2" align="right">
                            <input type="button" class="decision" onclick="location.href='~/ManageSupplier/CreateSupplier';" value="Add New Supplier" />
                        </td>
                    </tr>
                }
                <tr class="listview">
                    <td class="listviewheader">Supplier Code</td>
                    <td class="listviewheader">Supplier Name</td>
                    <td class="listviewheader">Tender Quotation Form</td>
                </tr>
                @foreach (var s in suppliers)
                {
                    <tr class="listview">
                        <td class="oddlistview">@Html.ActionLink(s.SupplierCode, "ViewSupplier", new { supplierCode = s.SupplierCode })</td>
                        <td class="oddlistview">@s.SupplierName</td>
                        <td class="oddlistview">Link to view Tender Quotation Form</td>
                    </tr>
                }
            </table>
        </div>
        
    }

</div>