@{
    ViewBag.Title = "Error Page";
}

<div class="mainheaderbar">
    <div class="system">STATIONERY STORE INVENTORY SYSTEM</div>
</div>
<div class="login">
    <h2>We encountered an error while processing your request.</h2>
    <br />
    <h2>We apologized for any inconveniences caused.</h2>
</div>
