@*Janel*@


<div>@Html.Partial("_Store")</div>

<div class="mainview">
    <h3>Reorder Report</h3>
    <iframe width="750" height="600" runat="server" id="ReportViewer2" src="~/WebForms/ReorderReportForm.aspx"></iframe>
    <br /><br />
</div>