@*Janel*@

@using StationeryStore.Models


<div>@Html.Partial("_Store")</div>

<div class="mainview">
    <h3>Requisition Trend Analysis</h3>
    <iframe width="750" height="600" runat="server" id="ReportViewer1" src="~/WebForms/RequisitionTrendAnalysis.aspx"></iframe>

    <br /><br />

</div>